<section id="current-game-section">

  <button class="floating-pause-button" mat-fab color="accent" (click)="togglePauseButton()">
    <mat-icon class="icon-2x" *ngIf="!isPaused">pause</mat-icon>
    <mat-icon class="icon-2x" *ngIf="isPaused">play_arrow</mat-icon>
  </button>

  <div matRipple matRippleRadius="60" class="player-section color1" fxLayout="column" fxLayoutAlign="center center" (click)="finishRound(0)"
       [ngClass]="{'current-player': currentPlayerIndex === 0}">
    <div fxFlex="30%" class="player-name unselectable">{{ players[0].name }}</div>
    <div class="timer unselectable">{{ players[0].time | date:'mm:ss' }}</div>
  </div>
  <div matRipple matRippleRadius="60" class="player-section color2" fxLayout="column" fxLayoutAlign="center center" (click)="finishRound(1)"
       [ngClass]="{'current-player': currentPlayerIndex === 1}">
    <div fxFlex="30%" class="player-name unselectable">{{ players[1].name }}</div>
    <div class="timer unselectable">{{ players[1].time | date:'mm:ss' }}</div>
  </div>
</section>
