#current-game-section {
  height: 100%;
}

.player-section {
  cursor: pointer;
  text-align: center;
  height: 50%;
}

.player-section.color1 {
  margin-top: -70px;
}

.color1 {
  background-color: #e7b068;
}

.color2 {
  background-color: #fa6b7c;
}

.player-name {
  font-size: 30px;
}

.timer {
  font-size: 30px;
}

.floating-pause-button {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-2x {
  transform: scale(2);
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.current-player .player-name,
.current-player .timer {
  font-size: 40px;
}
